<p>error-page works!</p>
<ul>
    <li>
        <a routerLink="/auth/Login">Ir login</a>
    </li>
    <li>
        <a routerLink="/auth/register">Ir registro</a>
    </li>
    <li>
        <a routerLink="/heroes/list">Ir listado de heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Ir al agregar</a>
    </li>
    <li>
        <a routerLink="/heroes/edit/:id">Ir al editar</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Ir al buscar</a>
    </li>
    <li>
        <a routerLink="/heroes/:id">Ir al heroe</a>
    </li>
</ul>